<!DOCTYPE html>
<html>
<head>
	<title>Lit Blog Panel | Dashboard</title>
	include header.pug
</head>
<body>
	<div class="d-flex" id="wrapper">

		include sidebar.pug
		
		<div id="page-content-wrapper">

			include navbar.pug

			<div class="container-fluid">
				<h1>Main Dashboard</h1>
			</div>

		</div>	
	</div>
</body>
</html>