<!DOCTYPE html>
<html>
<head>
    <title>Lit Blog Panel | Settings</title>
    include header.pug
</head>
<body>
    <div class="d-flex" id="wrapper">
        include sidebar.pug
        <div id="page-content-wrapper">
            include navbar.pug
            <div class="container-fluid m-4">
                <div class="row">
                    <p class="panelHead">Settings</p>
                <div>
                <div class="row">
                    <div class="col-md">
                        <form>
                            <div class="form-group">
                                <label>Site Name</label>
                                <input type="text" class="form-control" name="sitename">
                            </div>
                            <div class="form-group">
                                <label>Site Description</label>
                                <textarea class="form-control" rows="3" name="sitedescription"></textarea>
                            </div>
                            <div class="form-group mb-3">
                                <label>Site Thumbnail</label>
                                <div class="custom-file">
                                    <input type="file" accept="image/*" class="custom-file-input" name="siteimage">
                                    <label class="custom-file-label">Choose file</label>
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <label>Site Icon</label>
                                <div class="custom-file">
                                    <input type="file" accept="image/*" class="custom-file-input" name="siteicon">
                                    <label class="custom-file-label">Choose file</label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>