<!DOCTYPE html>
<html>
<head>
	<title>Lit Blog Panel | Dashboard</title>
	include header.pug
</head>
<body>
	<div class="d-flex" id="wrapper">
		include sidebar.pug
		<div id="page-content-wrapper">
			include navbar.pug
			<div class="container-fluid m-4">
				<div class="row">
					<p class="panelHead">Dashboard</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>