<!DOCTYPE html>
<html>
<head>
    <title>Lit Blog | All Posts</title>
    include header.pug
</head>
<body>
    include topnav.pug
    <div class="container">
        <h2>All posts</p>
        if postData
            <div id="card-container">
                each post in postData
                    <div class="card">
                        img(class="card-img-top img-fluid" src="/img/" + post.image)
                        <div class="card-body">
                            h5(class="card-title")= post.title
                            p(class="card-text")= post.contentText.substr(0, 200) + "..."
                            p= post.createdAt
                            a(class="btn btn-primary" href=post.url) Read more
                        </div>
                    </div>
            </div>
        else
    </div>
</body>
</html>