<html>
	<head>
		title= "Error: " + message
		include header.pug
	</head>
	<body>
		<div class="container center">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="card jumbotron">
						h1= title
						h3= message
						<div class="btn-group btn-block">
							<button class="btn primaryBtn mt-4" onclick="window.history.back();">Back</button>
							<button class="btn primaryBtn mt-4" onclick="window.location.href='/'">Home</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
