<footer class="footer mt-auto">
    span= settings.siteName + " " + new Date().getFullYear() + " | "
    a(target="_blank" href=settings.instagram) <i class="lab la-instagram"></i>
    a(target="_blank" href=settings.facebook) <i class="lab la-facebook"></i>
    a(href="mailto:" + settings.email) <i class="las la-envelope"></i>
    span= " | Powered by Lit Blog 🔥 " + global.APP_VERSION
</footer>