<!DOCTYPE html>
<html>
<head>
    title= settings.siteName + " | " + postData.title
    link(rel="shortcut icon", href=settings.siteIcon)
    meta(name="description", content=postData.contentText.substr(0, 70))
    include header.pug
</head>
<body id="body" class="d-flex flex-column min-vh-100">
    span(id="bgImg")= settings.siteImage
    include topnav.pug
    <div class="container">
    </div>
    include footer.pug
</body>
</html>