<div id="sidebar-wrapper">
  div(class="sidebar-heading")= "Lit Blog 🔥 " + global.APP_VERSION
  <div class="list-group list-group-flush">
    <a href="/admin/dashboard" class="list-group-item list-group-item-action">Dashboard</a>
    <a href="/admin/post" class="list-group-item list-group-item-action">Posts</a>
    <a href="/admin/settings" class="list-group-item list-group-item-action">Settings</a>
  </div>
</div>