<div id="sidebar-wrapper">
  div(class="sidebar-heading")= "Lit Blog 🔥 " + global.APP_VERSION
  <div class="list-group list-group-flush">
    <a href="/admin/dashboard" class="list-group-item list-group-item-action">Dashboard <i class="las la-tachometer-alt"></i></a>
    <a href="/admin/post" class="list-group-item list-group-item-action">Posts <i class="las la-scroll"></i></a>
    <a href="/admin/project" class="list-group-item list-group-item-action">Projects <i class="las la-project-diagram"></i></a>
    <a href="/admin/settings" class="list-group-item list-group-item-action">Settings <i class="las la-tools"></i></a>
  </div>
</div>