<div id="sidebar-wrapper">
  div(class="sidebar-heading")= "Lit Blog 🔥 " + global.APP_VERSION
  <div class="list-group list-group-flush">
    <a href="/admin/dashboard" class="list-group-item list-group-item-action"><i class="las la-tachometer-alt"></i> Dashboard</a>
    <a href="/admin/post" class="list-group-item list-group-item-action"><i class="las la-scroll"></i> Posts</a>
    <a href="/admin/project" class="list-group-item list-group-item-action"><i class="las la-project-diagram"></i> Projects</a>
    <a href="/admin/settings" class="list-group-item list-group-item-action"><i class="las la-tools"></i> Settings</a>
    <a href="/admin/about" class="list-group-item list-group-item-action"><i class="las la-info"></i> About</a>
  </div>
</div>