.panelHead {
    font-size: 1.5rem;
    padding: 0;
    margin: 0 10px 0 0;
    color: rgb(233, 233, 233) !important;
}

#main_table {
    color: rgb(218, 216, 216) !important;
}

.imgContainer {
    width: 100%;
    background-color: #090d20;
    padding: 15px;
}

label {
    color: rgba(211, 211, 211, 1) !important;
}

.custom-file-input {
    border-radius: 0 !important;
    border: rgba(17, 26, 59, 1) 1px solid !important;
    background-color: red !important;
}

#createImgPreview,
#editImgPreview,
#createImgPreview1,
#editImgPreview1,
#createImgPreview2,
#editImgPreview2,
#createImgPreview3,
#editImgPreview3,
#siteImgPreview,
#iconImgPreview {
    max-height: 25vh;
}

.tableLink {
    color: rgb(42, 65, 141) !important;
    transition: 0.3s;
}

.tableLink:hover {
    text-decoration: none !important;
    color: rgb(37, 56, 122) !important;
}
